<html>
<head>
    <title>Company</title>
    <meta name="viewport" content="width=device-width ,initial-scale=1"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/company.css"/>
    
</head>
    <body>
        <h1 class="display-4">Welcome to my demo company project </h1>
        <p >It's enabled you to add employee and show all employees and show some statisitics about employee in department</p>
   <div class="row" >
  <div class="col-sm-6" id ="employee-card">
    <div class="card">
        <img src="Image/statistics.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Some Statistics</h5>
        <p class="card-text">some statisitics about employee in department</p>
        <a href="/statistics" class="btn btn-primary">Statistics</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" >
        <img src="Image/employee.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Employees</h5>
        <p class="card-text">Add new employee and show all employees</p>
        <a href="/addEmployee" class="btn btn-primary">Employee</a>
      </div>
    </div>
  </div>
</div>
    
        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/company.js"></script>
        
    </body>
</html>