
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Statistics</title>
    <meta name="viewport" content="width=device-width ,initial-scale=1"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/statistics.css"/>


</head>
<body>
    <h1 class="display-4">Employee Department Statistics </h1>
    <div class="row">
  <div class="col-sm-12">
    <div class="card">
        <div class="card-header"><h4>Number of employees in all department includes department without employees</h4></div>
      <div class="card-body">
        <table class="table table-bordered" >
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Number</th>
            </tr>
        </thead>
        <tbody id="table1">
        </tbody>
    </table>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card">
        <div class="card-header"><h4>Number of employees in  departments which have employees</h4></div>
      <div class="card-body">
            <table class="table table-bordered" >
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Number</th>
            </tr>
        </thead>
        <tbody id="table2">
        </tbody>
    </table>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card">
        <div class="card-header"><h4>Number of employees in  departments without employees</h4></div>
      <div class="card-body">
        <table class="table table-bordered" >
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Number</th>
            </tr>
        </thead>
        <tbody id="table3">
        </tbody>
    </table>
      </div>
    </div>
  </div>
</div>
 
        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/statistics.js"></script>

</body>
</html>